.host {
  height: auto;

  border-bottom: 1px solid var(--primaryColor);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right -200px top;
  background: linear-gradient(
    to bottom right,
    rgba(4.71%, 2.75%, 9.41%, 1),
    rgba(4.71%, 2.75%, 9.41%, 0.84)
  );

  width: 100%;
  position: relative;
  z-index: 1;

  .bg {
    padding: 30px 40px;
    height: 100%;
    // background-image: linear-gradient(to right, rgba(4.71%, 2.75%, 9.41%, 1.00) 150px, rgba(4.71%, 2.75%, 9.41%, 0.84) 100%);
    // background-image: linear-gradient(to right, rgba(5.88%, 27.45%, 27.06%, 1.00) 150px, rgba(5.88%, 27.45%, 27.06%, 0.84) 100%);
    // background-image: linear-gradient(to right, rgba(11.76%, 18.43%, 23.53%, 1.00) 150px, rgba(11.76%, 18.43%, 23.53%, 0.84) 100%);
    // background-image: linear-gradient(to right, rgba(42.35%, 70.98%, 69.02%, 1.00) 150px, rgba(42.35%, 70.98%, 69.02%, 0.84) 100%);
    background-image: linear-gradient(
      to right,
      rgba(4.71%, 2.75%, 9.41%, 1) 150px,
      rgba(4.71%, 2.75%, 9.41%, 0.64) 100%
    );

    .container {
      display: flex;

      .poster {
        width: 300px;
        min-width: 300px;
        height: 400px;
        border-radius: var(--imageBorderRadius);
        overflow: hidden;
      }

      .description {
        padding-left: 40px;

        h2.title {
          font-size: 2.2rem;
          color: #fff;
        }
        .facts {
          margin-bottom: 24px;
          white-space: nowrap;

          .release_date,
          .genres,
          .runtime {
            position: relative;
            color: #fff;

            &:not(.release_date):before {
              font-size: 1.1em;
              line-height: 1;
              content: "\2022";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 7px;
              display: inline-flex;
              align-content: center;
              align-items: center;
              z-index: 1;
              color: #fff;
            }
          }

          span + span {
            padding-left: 20px;
            position: relative;
            top: 0;
            left: 0;
          }
        }

        .actions {
          margin-bottom: 20px;
          width: 100%;
          height: 68px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .chartContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            .score {
              height: 68px;
              width: 68px;
              display: inline-block;
              transition: transform 0.2s;
              transform: scale(1);
              color: #fff;
              font-size: 1.5em;
              border-radius: 50%;
              padding: 4px;
              border: 4px solid rgb(var(--tmdbDarkBlue));
              background-color: rgb(var(--tmdbDarkBlue));
              display: flex;
              align-items: center;
              justify-content: center;

              &::before {
                border: 4px solid rgb(var(--accountTeal));
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50%;
              }

              .sub {
                font-size: 0.3em;
              }
            }
            .userScore {
              color: #fff;
              font-weight: 700;
              margin-left: 6px;
              white-space: pre-line;
              font-weight: 700;
            }
          }
        }

        .info {
          color: #fff;

          .title {
            margin: 10px 0 8px 0;
            font-weight: 600;
            font-size: 1.3em;
          }
          .overview {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
