.host {
  background-color: #e5e5e5;
  min-height: 64px;

  .container {
    display: flex;
    align-items: center;
    // @extend %container;

    .logo {
    }
    .menu {
      list-style: none;
      display: flex;
      align-items: center;
    }
    .user {
    }
  }
}
