.host {
  background-color: rgba(var(--tmdbDarkBlue), 1);

  .container {
    display: flex;
    font-size: 0.9em;
    padding: 80px 0;

    .logo {
      margin-top: 10px;
    }

    div {
      margin-right: 40px;
      min-width: 0;
      box-sizing: border-box;

      h3 {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.4em;
        text-transform: uppercase;
        color: #fff;
        white-space: nowrap;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          line-height: 1.6em;
          max-width: 260px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
          // color: var(--tmdbDarkBlue);

          a {
            font-size: 1.2em;
            text-decoration: none;
            font-weight: normal;
            color: #fff;
            // color: var(--tmdbDarkBlue);
          }
        }
      }
    }
  }
}
