@import "mixin/importer";

%host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

%container {
  margin: auto;

  @include media(xxl) {
    max-width: 1320px;
  }
}

%h {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100%;
}

%h1 {
  @extend %h;
  font-size: 3em;
  font-weight: 700;
}

%h2 {
  @extend %h;
  font-size: 1.5em;
  font-weight: 600;
}

%h3 {
  @extend %h;
  font-size: 2em;
  font-weight: 600;
}
